@using AutoMapper
@using ModelData.Dto
@inject JoinWebApiClient _apiClient
@inject IMapper _mapper

<div class="card">
    <EditForm Model="_model" OnValidSubmit="SubmitAsync" Context="NewTagEditFormContext">
        <div class="card-header">
            Aggiungi nuovo tag
        </div>
        <div class="card-body">
            <DxTextBox @bind-Text="_model.Nome" />
        </div>
        <div class="card-footer">
            <DxButton RenderStyle="ButtonRenderStyle.Secondary" Click="OnCancel">Annulla</DxButton>
            <DxButton RenderStyle="ButtonRenderStyle.Primary" SubmitFormOnClick="true">Conferma</DxButton>
        </div>
    </EditForm>
</div>


@code {

    [Parameter] public EventCallback<TagCreateFormModel> OnSubmit { get; set; }

    [Parameter] public EventCallback OnCancel { get; set; }

    private TagCreateFormModel _model = new TagCreateFormModel();

    private async Task SubmitAsync()
    {
        await OnSubmit.InvokeAsync(_model);
    }
}
